body {
    background-color: #435663;
    font-size: 18px;
    color: #fff8d4;
}

.header {
    padding: 15px;
    vertical-align: middle;
    background-color: #313647;
}

.header h1 {
    display: inline-block;
    width: 85%;
}

.header nav {
    display: inline-block;
    align-items: right;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

.hr_left {
    margin-left: 0;
    margin-right: auto;
}

.about {
    padding: 5px;
    width: 65%;
    text-align: left;
    align-items: center;
}
